@import "tailwindcss";

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: jenson-italic;
  src: url("../fonts/fs-jenson-1-italic.ttf") format("truetype");
}
@font-face {
  font-family: jenson;
  src: url("../fonts/fs-jenson-1.ttf") format("truetype");
}

@font-face {
  font-family: PPMondwest;
  src: url(../fonts/PPMONDWEST-REGULAR.OTF) format("opentype");
}
